@{
    ViewData["Title"] = "Admin Control";
}

<a class="nav-link navBarLinks" asp-controller="Home" asp-action="ToDashboard" style="color: black;">Dashboard</a>
<h1>This is the admin control page</h1>
@*
TODO: display admin controls
    - Button with form to create new user
    - GUI to load Employees from database, maybe
*@

