
.vs/MentorApp440/xs/project-cache/MentorApp440-Debug.json
.vs/MentorApp440/xs/UserPrefs.xml
MentorApp440/obj/Debug/net6.0/apphost
MentorApp440/obj/Debug/net6.0/MentorApp440.assets.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.csproj.AssemblyReference.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.GeneratedMSBuildEditorConfig.editorconfig
MentorApp440/obj/MentorApp440.csproj.nuget.dgspec.json
MentorApp440/obj/MentorApp440.csproj.nuget.g.props
MentorApp440/obj/project.assets.json
MentorApp440/obj/project.nuget.cache
MentorApp440/Properties/launchSettings.json
MentorApp440/obj/Debug/net6.0/MentorApp440.assets.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.csproj.AssemblyReference.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.GeneratedMSBuildEditorConfig.editorconfig
MentorApp440/obj/MentorApp440.csproj.nuget.dgspec.json
MentorApp440/obj/MentorApp440.csproj.nuget.g.props
MentorApp440/obj/project.assets.json
MentorApp440/obj/project.nuget.cache
MentorApp440/Properties/launchSettings.json
*.cache
*.editorconfig
*.props
MentorApp440/Properties/launchSettings.json
MentorApp440/obj/Debug/net6.0/MentorApp440.assets.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.csproj.AssemblyReference.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.GeneratedMSBuildEditorConfig.editorconfig
MentorApp440/obj/MentorApp440.csproj.nuget.dgspec.json
MentorApp440/obj/MentorApp440.csproj.nuget.g.props
MentorApp440/obj/project.assets.json
MentorApp440/obj/project.nuget.cache
MentorApp440/Properties/launchSettings.json
MentorApp440/Properties/launchSettings.json
MentorApp440/obj/project.nuget.cache
MentorApp440/obj/project.assets.json
MentorApp440/obj/MentorApp440.csproj.nuget.g.props
MentorApp440/obj/MentorApp440.csproj.nuget.dgspec.json
MentorApp440/obj/Debug/net6.0/MentorApp440.GeneratedMSBuildEditorConfig.editorconfig
MentorApp440/obj/Debug/net6.0/MentorApp440.csproj.AssemblyReference.cache
MentorApp440/obj/Debug/net6.0/MentorApp440.assets.cache
