*{
    /*font-family: 'Roboto', serif;*/
}
body {
    background-color: whitesmoke;
}

#welcome {
    color: whitesmoke;
}

#welcome{
    text-align: center;
}

#logInButton {
    background-color: #fcf8e3;
    color: #5A99D5;
    border: 0;
}
#loginForm{
    background-color: #5A99D5;
    width: 80%;
}
