@using MentorApp440.Session
@using MentorApp440.Helpers
@{
    var loggedIn = !string.IsNullOrWhiteSpace(ViewContext.HttpContext.Session.Get<string>(SessionVariables._Username));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Flomento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- CSS only -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/User.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/MentorApp440.styles.css" asp-append-version="true"/> *@
</head>
<body class="mainBody">
@* <h1>This is for you Michael</h1> *@
<main>
    @* Pop Up page *@
    @if (!loggedIn)
    {
        <div class="container-fluid justify-content-center align-items-center h-100 py-1" style="position: absolute;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card popup" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h2 class="mb-2" style="color: white">Please Log In</h2>
                            <form asp-controller="Home" asp-action="LogIn">
                                <div class="input-group justify-content-center w-50 mx-auto">
                                    <label for="" style="color: white">Select your organization:&nbsp</label>
                                    <select name="orgSelect" id="orgSelect" class="select mb-2" style="border-radius: 0.5rem;" required>
                                        <option selected disabled hidden>--</option>
                                        @foreach (var org in SqlConnection.RunOrganizationQuery())
                                        {
                                            <option value=@org.OrgID>@org.OrgName</option>
                                        }
                                    </select>
                                </div>
                                <div class="input-group w-50 mx-auto">
                                    <input name="username" id="usernameField" type="text" class="form-control" placeholder="username" style="border-radius: 0.5rem;" required>
                                </div>
                                <div class="row pt-3">
                                    <div class="d-grid gap-2 col-4 mx-auto">
                                        <button class="btn btn-primary" id="logInButton" type="submit">Log In</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @RenderBody()
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Peer.js" asp-append-version="true"></script>
<!-- JavaScript Bundle with Popper -->
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>